
/* outer border divs */

/* .TemplateOneOutterBorder {
    box-shadow: rgb(108, 108, 106);
    border-style: double;
    border-width: 15px;
    border-radius: 40px;
    margin: 0px;
    padding: 3em;
    font-family: 'Jacques Francois Shadow', cursive;
    background-color:black; 
    color:white;
    font-size: x-large;
} */

/* .TemplateTwoOutterBorder {
    box-shadow: rgb(108, 108, 106);
    border-style: double;
    border-width: 15px;
    border-radius: 40px;
    margin: 0px;
    padding: 3em;
    background-color: black;
   
    font-size: x-large;
} */

.TemplateThreeOutterBorder {
    box-shadow: rgb(108, 108, 106);
    border-style: double;
    border-width: 15px;
    border-radius: 40px;
    margin: 0px;
    padding: 3em;
    background-color: #E13D09;
    font-family: 'IM Fell English', serif;
    color: white;
    font-size: x-large;
}

/* .TemplateFourOutterBorder {
    box-shadow: rgb(108, 108, 106);
    border-style: double;
    border-width: 15px;
    border-radius: 40px;
    margin: 0px;
    padding: 3em;
    background-color:#0AB696;
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: x-large;
} */

/* inner divs - container around input form - where DOM & keeps div from resizing */

/* .TemplateOneContent {
    padding: 0px;
    height: 500px;
    width: 400px;
    border-radius: 40px;
    border-style: double;
    border-width: 15px;
    background: black;
    
} */
/* 
.TemplateTwoContent {
    padding: 0px;
    height: 500px;
    width: 400px;
    border-radius: 40px;
    border-style: double;
    border-width: 15px;
    background: gray;
    
} */

.TemplateThreeContent {
    padding: 0px;
    height: 500px;
    width: 400px;
    border-radius: 40px;
    border-style: double;
    border-width: 15px;
    background: black;
    
}

/* .TemplateFourContent {
    padding: 0px;
    height: 500px;
    width: 400px;
    border-radius: 40px;
    border-style: double;
    border-width: 15px;
    background: black;
    
} */


/* below -  outside div & border of each poster on template page */

/* .TemplatesCardOne {                    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 2em;
    

} */

/* .TemplatesCardTwo {                    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 2em;
    
} */


/* below -  outside div & border of each poster on template page */

.TemplatesCardThree {                    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 2em;
}

/* below -  outside div & border of each poster on template page */

/* .TemplatesCardFour {                    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 2em;
} */


/* centers button in page */
/* .EventsButton {
    display: flex;
    justify-content: center;
    padding: 2em;
}


.icon--template {
    margin-top: -425px;
    z-index: 1;
} */