

.TemplateThreeOutterBorder {
    margin: 0px;
    padding: 3em;
    /* background-color: #E13D09; */
    font-family: 'SHORTCUT';
    color: #969696;
    font-size: x-large;
}

.TemplateThreeOutterBorder {
    
    background-image: url(../Images/decorative-grunge.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 530px 740px;
    /* box-shadow: 20px 20px 5px grey; */
    
  }

  .TemplateOnePageBackgroundColor {
    background-color: hsl(0, 1%, 83%);
}

/* inner divs - container around input form - where DOM & keeps div from resizing */




.TemplateThreeContent {
    padding: 20px;
    height: 600px;
    width: 400px;
    
    /* border-radius: 40px;
    border-style: double;
    border-width: 15px; */
    /* background: black; */
    
}


/* below -  outside div & border of each poster on template page */

.TemplatesCardThree {                    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 0em;
    
}
.tempThreedownloadbtn {
    margin-top: -220px;
    margin-left: 2px;
}
.tempThreeSavebtn {
    margin-top: -220px;
    margin-left: 2px;
}
.tempThreeBackbtn {
    margin-top: -220px;
    margin-left: 2px;
}

.MyPostersThreeDeletebtn {
    margin-top: -220px;
    margin-left: 8px;
}
.MyPostersThreeEditbtn {
    margin-top: -220px;
    margin-left: 2px
}

.ShowCaseTempThree {
    margin-top: 150px;
    margin-left: px;
}