
/* container around input form */

.PageOneCard {
    /* box-shadow: rgb(108, 108, 106); */
    border-style: solid;
    border-width: 10px;
    border-radius: 40px;
    margin: 0px;
    padding: 4em;
    background-color:#71706D;
    font-family: 'Shrikhand', cursive;
    color: #4E2F01;
    font-size: x-large;
    background-image: url(../Images/vector-retro-style.jpg);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: 820px 740px;
    box-shadow: 20px 20px 5px grey;
    
}

.textColor {
    color: #4E2F01
}

/* effects input page one */
/* .EventsForm {
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgb(108, 108, 106);
    border-radius: 0px;
    padding: 5em;
    background-color: #E13D09;
    
} */

.buttonSpacing{
    margin-left: 10px;
}

/* .WelcomeBackground {

    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
} */
    
 

