


.MyPostersTempTwoText {
     
        margin-top: -100px;
        
        margin-bottom: 0px;
    }






/* .MyPosterLineOneDown {
    margin-top: px;
    margin-left: px;
    margin-bottom: 50px;
}
.MyPosterLineTwoDown{
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 50px;
}
.MyPosterLineThreeDown {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: px;
} */