
/* container around input form */

.PageOneCard {
    /* box-shadow: rgb(108, 108, 106); */
    border-style: double;
    border-width: 20px;
    border-radius: 40px;
    margin: 0px;
    padding: 3em;
    background-color:hsl(0, 1%, 83%) ;
    font-family: 'Shrikhand', cursive;
    color: black;
    font-size: x-large;
    
}

.posterForm {
    margin-top: 0px;
    margin-bottom: -30px;
    margin-right: 0px;
    margin-left: 0px;
}

/* .flex {
    display : flex;
    height : auto;
    min-height : 100%;
    }
.textColor {
    color: white
} */

/* effects input page one */
.EventsForm {
    display: flex;
    justify-content: space-evenly;
    /* box-shadow: rgb(108, 108, 106); */
    border-radius: 0px;
    padding: 9em;
    background-color: hsl(0, 1%, 83%);
    
}

.buttonSpacing{
    margin-left: 10px;
}

/* .tempOnedownloadbtn {
    margin-top: -30px;
    margin-left: 2px;
}
.tempOneSavebtn {
    margin-top: -30px;
    margin-left: 2px;
}
.tempOneBackbtn {
    margin-top: -30px;
    margin-left: 2px;
}
.MyPostersOneDeletebtn {
    margin-top: -30px;
    margin-left: 2px;
}
.MyPostersOneEditbtn {
    margin-top: -30px;
    margin-left: 2px;
} */














