.navBar {

    background-color:black;
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: large;
    display: flex;

}

/* align-content: space-around;
flex-direction: column;
justify-content: center; */


/* font-family: 'Shrikhand', cursive;
color: white;
font-size: x-large;
display: flex; */

/* box-shadow: rgb(108, 108, 106);
border-radius: 50px;
margin: 0px;
padding: 13em; */